body {
  background-color: #272044;
  font-family: "Poppins", sans-serif;
}

header {
  color: white;
  text-align: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/photo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 50px;
}

header h1 {
  font-size: 60px;
  line-height: 1;
}

header h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 60px;
}

header h3 {
  font-size: 20px;
  font-weight: normal;
}

header a {
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 12px;
}

a {
  text-decoration: none;
  color: rgb(189, 79, 79);
}

main {
  background-color: white;
}

main h3 {
  opacity: 40%;
  margin: 0;
  text-transform: uppercase;
}
main p {
  opacity: 60%;
}

footer {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/photo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 100px 50px;
  color: white;
}

section {
  max-width: 100%;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
img {
  max-width: 600px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
  padding: 30px 20px;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 2fr 2fr;
}

.card-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.img-responsive {
  max-width: 100%;
}

.cards {
  background-color: #f8f8f8;
}

.title {
  padding: 30px 40px;
  text-align: center;
  line-height: 1;
}
.card-header {
  line-height: 0;
}
.card-body {
  padding: 30px;
  background-color: white;
}

.card-body a {
  background-color: dodgerblue;
  color: white;
  padding: 12px 10px;
  border-radius: 5px;
}

.card-footer {
  margin-top: 50px;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 35px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
