body {
  background-color: #272044;
  font-family: "Poppins", sans-serif;
}

header {
  color: white;
  text-align: center;
}

header h1 {
  font-size: 60px;
  line-height: 1;
}

header h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 60px;
}

header h3 {
  font-size: 20px;
  font-weight: normal;
}

header a {
  padding: 12px 15px;
  color: black;
  background-color: white;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: rgb(189, 79, 79);
}

footer {
  text-align: center;
  color: white;
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/photo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 50px;
}

.footer-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/photo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: left;
  padding: 100px 50px;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 35px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
